* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.woff) format('woff');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url(../fonts/OpenSans-Bold.woff) format('woff');
}

html {
    font-family: 'OpenSans-Regular';
    font-size: 10px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    text-decoration: underline;
}

li {
    list-style: none;
}

h1 {
    display: block;
    max-width: 680px;
    font-family: 'OpenSans-Bold';
    font-size: 4.5rem;
    line-height: 1.4;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    margin: 135px auto 0 auto;
}

h3 {
    font-family: 'OpenSans-Bold';
    font-size: 2rem;
    text-transform: uppercase;
    color: #0f0d0e;
}

time {
    display: block;
    font-size: 1.2rem;
    color: #888888;
} 

.visually__hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.show__popup {
    position: fixed;
    width: auto;
    height: auto;
    padding: 10px 10px;
    top: 10px;
    right: 20px;
    background-color:rgba(246, 59, 59, 0.596);
    text-decoration: underline;
    z-index: 2;
}

.show__popup a {
    color: rgb(255, 255, 255);
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    display: none;
    z-index: 4;
}

.popup__close {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 19px;
    height: 19px;
    position: absolute;
    top: -28px;
    right: 0;
    border: 0;
    cursor: pointer;
    background-image: url(../svg/form-x.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;

}

.popup__form {
    position: relative;
    width: 392px;
    margin: 100px auto 0;
    padding: 54px 31px 54px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.popup__form h2 {
    text-align: center;
    font-size: 2rem;
}

.popup__form h2::after {
    margin-top: 38px;
}

.dropdown__lable {
    display: block;
    position: relative;
    font-family: 'OpenSans-Regular';
    font-size: 1.3rem;
}

.dropdown__lable select {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding-left: 19px;
    background-color: rgb(244, 247, 246);
    border: none;
    outline: none;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url(../svg/form-arrows.svg);
    background-position: center right 10px;
    background-size: 1.3rem;
    background-repeat: no-repeat;

    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
}

.form__titles {
    margin-top: 33px;
    margin-bottom: 10px;
    font-family: 'OpenSans-Regular';
    font-size: 1.3rem;
}

.radio__options {
    display: flex;
}

.options input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
}

.options label {
    display: block;
    position: relative;
    font-family: 'OpenSans-Regular';
    font-size: 1.3rem;
    padding-left: 27px;
    cursor: pointer;
}

.options:nth-child(n+2) {
    margin-left: 12px;
}

.options label::before {
    content: "";
    position: absolute;
    width: 1.6em;
    height: 1.6em;
    left: 0;
    top: -2px;
    background-image: url(../svg/form-empty-circle.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.options input:checked + label::before {
    background-image: url(../svg/form-circle.svg);
}

.options input:hover + label::before {
    opacity: 0.7;
}

textarea {
    display: block;
    width: 100%;
    min-height: 132px;
    border: 0;
    outline: 0;
    background-color: rgb(244, 247, 246);
    resize: none;
    font-family: 'OpenSans-Regular';
    font-size: 1.4rem;
    color: rgb(136, 136, 136);
    padding: 21px;
}

.popup__button {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    background-color: rgb(181, 159, 91);
    border: 0;

    font-family: 'OpenSans-Bold';
    font-size: 1.4rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.popup__button:hover {
    background-color: rgb(50, 50, 50);;
}

/* burger */
.burger__button {
    position: absolute;
    display: none;
    width: 23px;
    height: 20px;
    z-index: 0;
    top: 52px;
    right: 32px;
}

.burger__line {
    width: 23px;
    height: 4px;
    margin-bottom: 4px;
    background-color: rgb(255, 255, 255); 
}

/* header */
.header {
    position: relative;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 145px;
    margin-bottom: 59px;
    background-image: url("../images/banner-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    z-index: 0;
}

.header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    z-index: -1;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.logo {
    display: block;
    width: 179px;
}

.menu {
    display: flex;
    text-transform: uppercase;
    font-size: 1.3rem;
    align-items: center;
}

.menu a {
    color: rgb(255, 255, 255);
}

.menu li:not(:last-child) {
    margin-right: 35px;
}

.main__title, 
.aside__title {
    position: relative;
    font-family: 'OpenSans-Bold';
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 43px;
}

.main__title::after, 
.aside__title::after {
	content: "";
    width: 66px;
    height: 3px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
  	background-color: rgb(225, 217, 189);
}

.main__title {
    font-size: 2rem;
}

.main__title::after {
    margin-top: 38px;
}

.aside__title {
    font-size: 1.4rem;
}

.aside__title::after {
    margin-top: 28px;
}

/* trends */
.trends__wrap {
    display: flex;
    justify-content: space-between;
}

.trends__content {
    width: 92%;
    padding: 41px 36px 36px;
    margin-bottom: 15px;
    border: 3px solid rgb(181, 159, 91);
}

.trend__container {
    position: relative;
    width: 24.5%;
    min-height: 320px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: rgb(96, 98, 96);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.trend__title {
    margin-top: 15px;
}

.trend__title a, a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.first__trend {
    background-image: url("../images/trend1.jpg");
}

.second__trend {
    background-image: url("../images/trend2.jpg");
}

.third__trend {
    background-image: url("../images/trend3.jpg");
}

.fourth__trend {
    background-image: url("../images/trend4.jpg");
}

.first__trend::after, .second__trend::after,
.third__trend::after, .fourth__trend::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    z-index: -1;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;    
    padding: 64px 15px 0;
    display: flex;
    justify-content: space-between;
}

.main {
    width: 65%;
}

.main article {
    display: flex;
}

.main article:not(:last-child) {
    margin-bottom: 60px;
}

.article__img {
    display: block;
    height: 294px;
}

.article__title {
    margin-top: 15px;
    margin-bottom: 37px;
    font-family: 'OpenSans-Bold';
    font-size: 2rem;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.article__title:hover {
    text-decoration: none;
    color: rgb(181, 159, 91);
}

.article__header {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}   

.sections {
    display: flex;
    text-transform: uppercase;
    color: rgb(181, 159, 91);
}

.sections li:not(:last-child) {
    padding-right: 20px;
}

.sections a {
    font-family: 'OpenSans-Bold';
    font-size: 1.4rem;
    text-transform: uppercase;
    color: rgb(181, 159, 91);
}

.sections a:hover {
    text-decoration: underline;
}

.article__credits {
    display: flex;
}

.article__credits li:not(:last-child) {
    padding-right: 15px;
}

.author {
    font-family: 'OpenSans-Bold';
    font-size: 1.2rem;
}

.article__preview {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
}

.article__preview p {
    margin-top: 17px;
}

/* aside */
.aside {
    width: 271px;
    text-align: center;
}

.line {
    display: block;
    width: 66px;
    height: 3px;
    margin: 14px auto 25px auto;
    background-color: rgb(225, 217, 189);
} 

.new__post__container {
    display: flex;
}

.new__post__content {
    margin-left: 17px;
    text-align: left;
}

.new__post__container:not(:first-child) {
    margin-top: 22px;
}

.new__post__image {
    display: block;
    width: 70px;
    height: 70px;
}

.new__post__title {
    line-height: 1.3;
    margin-top: 7px;
    margin-bottom: 0;
}

.new__post__title a:hover {
    color: rgb(181, 159, 91);
    text-decoration: none;
}

/* search */
.search__form {
    position: relative;
    margin-top: 60px;
}

.search__input {
    padding-right: 66px;
}

.search__input, 
.search__button,
.subscribe__input {
    border: none;
    outline: none;
    width: 100%;
    height: 48px;
    padding-left: 18px;
    padding-right:  18px;
    background-color: rgb(244, 247, 246);
}

.search__input:focus, .subscribe__input:focus {
    border: 1px solid rgb(181, 159, 91);
}

.search__button {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    right: 0;
    background-image: url("../svg/search.svg");
    background-color: rgb(181, 159, 91);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: center center;
}   

.search__button:hover {
    background-color: rgb(50, 50, 50);
}

/* subscribe */
.subscribe__form {
	position: relative;
	margin-top: 60px;
}

.subscribe__button {
    width: 100%;
    height: 49px;
    margin-top: 16px;
    padding: 0;
    background-color: #b59f5b;
    font-family: 'OpenSans-Bold';
    font-size: 1.4rem;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-align: center;
    border: 0;
}

.subscribe__button:hover {
    background-color: rgb(50, 50, 50);
}

/* tags */
.tags {
    margin-top: 60px;
    }

.tag__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag__list li {
    padding: 9px 16px;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 3px solid #eeeeee;
}

.tag__list li:hover {
    border: 3px solid #b59f5b;
}

.tag__list a {
    font-family: 'OpenSans-Bold';
    font-size: 1.2rem;
    text-transform: uppercase;
}

.tag__list a:hover {
    text-decoration: none;
    color: rgb(181, 159, 91);
}

/* categories */
.categories {
    margin-top: 60px;
}

.categories__list li {
    position: relative;
    text-align: left;
    padding: 18px 0;
    font-family: 'OpenSans-Bold';
    font-size: 1.4rem;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.categories__list a:hover {
    text-decoration: none;
    color: rgb(181, 159, 91);
}

.categories__badge {
    font-size: 1.2rem;
    display: inline-block;
    position: absolute;
    top: 15px;
    padding-left: 3px;
    color: rgb(181, 159, 91);
}

/* products */
.products__wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

.product__item {
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product__img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

.product__decsription__wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    outline: 3px solid rgb(181, 159, 91);
    outline-offset: 23px;
}

.product_title {
    margin: 13px 0;
    font-family: 'OpenSans-Bold';
    font-size: 2rem;
    text-transform: uppercase;
    color: #0f0d0e;
}

.product__text {
    font-family: 'OpenSans-Regular';
    font-size: 1.50rem;
    line-height: 1.5;
}

.product__text a {
    color: rgb(181, 159, 91);
}

.price__wrap {
    display: flex;
    justify-content: space-between; 
    margin-top: 21px;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.old__price {
    font-family: 'OpenSans-Bold';
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: line-through;
}

.actual__price {
    font-family: 'OpenSans-Bold';
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.old__price::after,
.actual__price::after {
    content:" \20BD"
}

.shop__button {
    display: block;
    background-color: rgb(181, 159, 91);
    padding: 18px 30px;
    font-family: 'OpenSans-Bold';
    font-size: 1.4rem;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
}

.shop__button:hover {
    background-color: rgb(50, 50, 50);
    text-decoration: none;
}

/* footer */
.footer {
    margin: 64px auto 0;
    max-width: 1200px;
    padding-bottom: 40px;
}

.social {
	position: relative;
    display: flex;
    padding: 32px 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 247, 246);
}

.social a {
    display: block;
    height: 20px;
    width: auto;
    padding-left: 35px;
    background-size: auto 20px;
    background-position: center center;
    background-repeat: no-repeat;
}

.social__twit {
    background-image: url("../svg/004-twitter.svg");
}

.social__pintr {
    background-image: url("../svg/001-pinterest.svg");
}

.social__fb {
    background-image: url("../svg/002-facebook-logo.svg");
}

.social__instr {
    background-image: url("../svg/005-instagram.svg");
}

.social__tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

.copyright {
    display: block;
    width: max-content;
    margin: 73px auto 0;
    justify-content: center;
    font-size: 1.2rem;
    color: rgb(153, 153, 153);
}

@media (min-width: 641px) and (max-width: 1200px) {
    .header {
        padding-top: 0;
        background-image: url("../images/banner-bg-tablet.jpg");
    }

    .burger__button {
        display: block;
    }

    .nav {
        padding-top: 43px;
        padding-left: 35px;
    }

    .menu {
        display: none;
    }

    .trends__wrap {
        flex-wrap: wrap;
    }

    .trend__container {
        width: 49.8%;
        margin-bottom: 4px;
    }

    .trend__title {
        font-size: 1.7rem;
    }

    .container {
        width: 100%;
        padding-left: 37px;
        padding-right: 37px;
    }
    
    .main {
        max-width: 50%;
        margin-right: 15px;
    }

    .main article {
        flex-direction: column;
    }

    .main article:not(:last-child)::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: rgb(237, 237, 237);
        margin-top: 18px;
    }

    .article__img {
        height: auto;
    }

    .article__header {
        margin: 0;
    }   

    .sections {
        margin-top: 15px;
    }

    .article__title {
        margin-bottom: 0;
        font-size: 1.7rem;
    }

    .article__credits {
        margin-top: 38px;
        margin-bottom: 33px;
    }

    .products__wrap {
        width: 100%; 
        flex-wrap: wrap;
        padding: 0 61px; 
    }

    .product__item {
        width: 45%;
    }
    
    .product__item:nth-child(n+3) {
        margin-top: 45px;
    }

    .footer {
        max-width: 92%;
    }
}

@media (max-width: 640px) {
    .popup {
        padding-top: 40px;
    }

    .popup__form {
        width: 90%;
        max-width: 392px;
    }

    .header__title {
        font-size: 2.5rem;
        margin: 43px 45px 0;
    }

    .show__popup {
        right: unset;
        left: 0;
        top: 0;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        vertical-align: center;
        min-height: 640px;
        padding: 0 0 43px 0;
        margin-bottom: 40px;
        background-image: url("../images/banner-mobile.jpg");
    }

    .burger__button {
        display: block;
        top: 32px;
        right: 16px;
    }

    .logo {
        width: 270px;
        height: 60px;
    }

    .menu {
        display: none;
    }

    .section__title {
        font-size: 1.6rem;
    }

    .trends__wrap {
        flex-direction: column;
    }

    .sections {
        margin-top: 15px;
    }

    .trends__content {
        width: 92%;
        padding: 35px 22px 22px;
        border: 3px solid rgb(181, 159, 91);
    }

    .trend__container {
        width: 100%;
        min-height: 231px;
    }

    .trend__container:not(:last-child) {
        margin-bottom: 3px;
    }

    .trend__title {
        font-size: 1.6rem;
    }

    .container {
        width: 100%;
        flex-direction: column;
        padding: 40px 15px 0;
    }

    .main {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .main__article {
        flex-direction: column;
    }

    .article__header {
        margin-left: 0;
    }

    .article__img {
        width: 100%;
        height: 100%;
    }

    .article__title {
        font-size: 1.6rem;
        margin: 15px 0;
    }

    .article__credits {
        margin-bottom: 20px;
    }

    .main article::after {
        content: "";
        width: 100%;
        height: 4px;
        background-color: rgb(237, 237, 237);
        margin-top: 18px;
    }

    .main__title, .aside__title {
        font-size: 1.6rem;
    }

    .aside {
        width: 100%;
        padding: 0 16px;
        margin: 44px 0 0 0;
    }

    .tag__list li {
        padding: 5px 12px;
    }

    .products__wrap {
        flex-direction: column;
    }

    .product__item {
        width: 100%;
        margin-bottom: 48px;
        padding: 0 24px;
    }

    .product_title {
        font-size: 1.7rem;
    }

    .footer {
        width: 92%;
    }
}